body {
    background-color: #000000;
}

h1 {
    color: #ff8c00;
}

h2 {
    color:#ffd700;
}

h3 {
    color:#b8860b;
}

p {
    color: #a9a9a9;
    font-size: large;
}

img {
    color: #a9a9a9;
    font-size: large;
}